.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open .menu-button__icon-cross {
    display: block;
  }

  &.is-open {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    overflow: hidden;
  }

  &.is-open .menu-button__icon-menu {
    display: none;
  }
}

.menu-button__icon-cross {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
      background-color: $primary-white-color;

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 48px 40px;
    }
  }
}


.site-menu__link {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    @include textDecoration();
    color: $title-text-color;
  }
}

.site-menu__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.site-menu__item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
}

.contacts__link {
  @media screen and (max-width: 767px) {
    @include textDecoration();
    color: $accent-color;

  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;

  &__item:not(:last-child) {
    margin-bottom: 32px;

  }
}