@import "../utils/mixins";

.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}