.team {
    background-color: $background-ourteam-button;
    margin-left: auto;
    margin-right: auto;

    &__name {
        color: $title-text-color;
        font-weight: bold;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        padding-bottom: 30px;
        letter-spacing: 0.03em;
    }

    &__member {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__participant {
        color: $title-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__position {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        padding-top: 10px;
    }

    &__item {
        background-color: $primary-white-color;
        box-shadow: $modal-shadow;
        border-radius: 0px 0px 4px 4px;

    }
}

@media screen and (min-width: 480px) {

    .team__item:not(:last-child) {
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 768px) {
    .team {
        box-sizing: border-box;


        &__block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: -30px;
        }

        &__item {
            max-width: 354px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .team {

        box-sizing: border-box;
        max-width: 1600px;

        &__name {
            font-size: 36px;
            line-height: 1.17;
            padding-bottom: 50px;
        }


        &__block {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__item {
            max-width: 270px;

        }
    }
}